/* Global styles */

* {
    user-select: none;
}

footer {
   	width: 100%;
   	height: 7%;
	color: #666;
	background-color: #222;
	padding: 1% 0 0.5% 0;
	border-top: 1px solid #000;
}

footer a {
	color: #999;
}

footer a:hover {
	color: #efefef;
}









/* header*/

.header {
	padding-top: 1%;
	padding-bottom: 1%;
}

.header h1 {
	margin-top: 3%;
	color: white;
}

.navbar-inverse {
    border-radius: 0;
}

.logo {
	vertical-align: middle;
}

.language {
	background-color: #222222;
	color: #fff;
}



/* content*/

.site h1 {
	color: #fff;
	width: 50%;
	padding: 1% 1% 1% 5%;
	border-radius: 25px;
	border: solid 1px #666;
}

.site p {
	color: #fff;
}

.btn:hover {
	color: #ffd48f;
	background-color: #fff;
}

.site {
	padding: 2% 2%  7% 2%;
	background-attachment: fixed;
}



#kinomonster2 {
	background-image: url(../img/kinomonster2.png);
}

#kinomonster1 {
	background-image: url(../img/kinomonster1.png);
}

#all-pc {
	background-image: url(../img/4.png);
}

#how-to-earn {
	background-image: url(../img/3.png);
}

#destroy {
	background-image: url(../img/1.png);
}

#destroy h1 {
	width: 70%;
}

#will-we-save-it {
	background-image: url(../img/2.png);
}