* {
    user-select: none;
}

body {
    background-image: url('../img/bg.jpg');
}

/* content */

.absolute-center {
    width: 100%;
    height: fit-content;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.center-container {
    position: relative;
    height: 500px;
}

h1 {
    position: absolute;
    left: 35%;
    

    font-family: brush-script-std, sans-serif;
    font-size: 10em;
    color: white;
}

div {
    display: block;
}

.buttons {
    display: flex;
    padding: 20px;
}

.content {
    background-color: rgba(20, 20, 20, 0.75);
    border-radius: 25px;

    height: 250px;
    width: 550px;
    position: absolute;
    top: 40%;
    left: 36.5%;
}

.buttons{
    font-size: 2em;
}

.vk-button {
    padding: 1%;
    margin: 1%;
    margin-left: 12.5%;
}

.github-button {
    padding: 1%;
    margin: 1%;
    margin-left: 12.5%;
}

.discord-button {
    padding: 1%;
    margin: 1%;
    margin-left: 12.5%;
}

#email1 {
    position: absolute;
    top: 75%;
    left: 25%;
    font-size: 0.75em;
}

#email2 {
    position: absolute;
    top: 75%;
    left: 40%;
    font-size: 0.75em;
}

#port {
    position: absolute;
    top: 50%;
    left: 35%;


    color: #fff;
    font-size: 0.9em;
}

#port:hover {
    color: #777;
    text-decoration: none;
}